<style>
    #card-element {
        width: 350px;
    }
</style>
<!-- <script src="https://js.stripe.com/v3/"></script> -->

<!-- <section ng-show="ctrl.WebSocketClientService.stripe_api_key != ''" ng-show="ctrl.allowpayment">
    <label for="card-element">Card</label>
    <div id="card-element"></div>
</section>
<a href ng-click="ctrl.Test()" class="button">Test</a> -->
<form>
    <div id="customer-info" ng-hide="ctrl.loading==true">
        <div class="row">
            <div class="col">
                <label class="control-label" translate lib="web">Legal Name</label>
                <div class="col-sm-8">
                    <input type="text" class='form-control' ng-model="ctrl.model.name"
                        ng-disabled="ctrl.hascustomer"></input>
                </div>
            </div>
            <div class="col">
                <label class="control-label" translate lib="web">Billing email</label>
                <div class="col-sm-8">
                    <input type="text" class='form-control' ng-model="ctrl.model.email"
                        ng-disabled="ctrl.hascustomer"></input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="control-label" translate lib="web" ng-show="ctrl.model.address != ''">Address</label>
                <div class="col-sm-8">
                    <input type="text" class='form-control' ng-model="ctrl.model.address" ng-disabled="true"
                        ng-show="ctrl.model.address != ''"></input>
                </div>
            </div>
            <div class="col">
                <label class="control-label" translate lib="web">Country</label>
                <div class="col-sm-8">
                    <select class='form-control' ng-model="ctrl.model.country" ng-disabled="ctrl.hascustomer">
                        <option value="  " selected>(please select a country)</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BA">Bosnia and Herzegowina</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian Ocean Territory</option>
                        <option value="BN">Brunei Darussalam</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos (Keeling) Islands</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CG">Congo</option>
                        <option value="CD">Congo, the Democratic Republic of the</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa Rica</option>
                        <option value="CI">Cote d'Ivoire</option>
                        <option value="HR">Croatia (Hrvatska)</option>
                        <option value="CU">Cuba</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="TP">East Timor</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FK">Falkland Islands (Malvinas)</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="FX">France, Metropolitan</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="TF">French Southern Territories</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HM">Heard and Mc Donald Islands</option>
                        <option value="VA">Holy See (Vatican City State)</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IR">Iran (Islamic Republic of)</option>
                        <option value="IQ">Iraq</option>
                        <option value="IE">Ireland</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="KP">Korea, Democratic People's Republic of</option>
                        <option value="KR">Korea, Republic of</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Lao People's Democratic Republic</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libyan Arab Jamahiriya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macau</option>
                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia, Federated States of</option>
                        <option value="MD">Moldova, Republic of</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NL">Netherlands</option>
                        <option value="AN">Netherlands Antilles</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NU">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PN">Pitcairn</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="RE">Reunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russian Federation</option>
                        <option value="RW">Rwanda</option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="LC">Saint LUCIA</option>
                        <option value="VC">Saint Vincent and the Grenadines</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SK">Slovakia (Slovak Republic)</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SH">St. Helena</option>
                        <option value="PM">St. Pierre and Miquelon</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SJ">Svalbard and Jan Mayen Islands</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syrian Arab Republic</option>
                        <option value="TW">Taiwan, Province of China</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania, United Republic of</option>
                        <option value="TH">Thailand</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad and Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TC">Turks and Caicos Islands</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="GB">United Kingdom</option>
                        <option value="US">United States</option>
                        <option value="UM">United States Minor Outlying Islands</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Viet Nam</option>
                        <option value="VG">Virgin Islands (British)</option>
                        <option value="VI">Virgin Islands (U.S.)</option>
                        <option value="WF">Wallis and Futuna Islands</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="YU">Yugoslavia</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="control-label" translate lib="web">TAX/VAT type</label>
                <div class="col-sm-8">
                    <select class='form-control' ng-model="ctrl.model.vattype" ng-disabled="ctrl.hastaxinfo">
                        <option value="au_abn">Australian Business Number (AU ABN)</option>
                        <option value="br_cnpj">Brazilian CNPJ number</option>
                        <option value="br_cpf">Brazilian CPF number</option>
                        <option value="ca_bn">Canadian BN</option>
                        <option value="ca_qst">Canadian QST number</option>
                        <option value="es_cif">Spanish CIF number</option>
                        <option value="eu_vat">EU VAT number</option>
                        <option value="hk_br">Hong Kong BR number</option>
                        <option value="in_gst">Indian GST number</option>
                        <option value="jp_cn">Japanese Corporate Number (Hōjin Bangō)</option>
                        <option value="kr_brn">Korean BRN</option>
                        <option value="li_uid">Liechtensteinian UID number</option>
                        <option value="mx_rfc">Mexican RFC number</option>
                        <option value="my_itn">Malaysian ITN</option>
                        <option value="my_sst">Malaysian SST number</option>
                        <option value="no_vat">Norwegian VAT number</option>
                        <option value="nz_gst">New Zealand GST number</option>
                        <option value="ru_inn">Russian INN</option>
                        <option value="sg_gst">Singaporean GST</option>
                        <option value="sg_uen">Singaporean UEN</option>
                        <option value="th_vat">Thai VAT</option>
                        <option value="tw_vat">Taiwanese VAT</option>
                        <option value="us_ein">United States EIN</option>
                        <option value="za_vat">South African VAT number</option>
                    </select>

                </div>
            </div>
            <div class="col">
                <label class="control-label" translate lib="web">TAX/VAT ID</label>
                <div class="col-sm-8">
                    <input type="text" class='form-control' ng-model="ctrl.model.vatnumber"
                        ng-disabled="ctrl.hastaxinfo"></input>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label class="control-label" translate lib="web" ng-hide="!ctrl.hastaxinfo">VAT CHECK</label>
                <div class="col-sm-8">
                    <input type="text" class='form-control' ng-model="ctrl.taxstatus" ng-disabled="true"
                        ng-hide="!ctrl.hastaxinfo"></input>
                </div>
            </div>
            <div class="col">
                <label class="control-label" translate lib="web">Coupon</label>
                <div class="col-sm-8">
                    <input type="password" class='form-control' ng-model="ctrl.model.coupon"
                        autocomplete="coupon one-time-code"></input>
                </div>
            </div>
        </div>
        <!-- ng-hide="ctrl.hastaxinfo && ctrl.hascustomer && (ctrl.model.coupon==null || ctrl.model.coupon == "")" -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" ng-click="ctrl.Save()" ng-disabled="ctrl.loading==true" class="btn btn-success"
                    translate lib="web">save</button>
            </div>
        </div>
        <!-- If you are based in Denmark, or you are based in an EU country and do not have a valid VAT number, you will be
    charged 25% VAT. -->
    </div>
    <div id="customer-info" ng-hide="!ctrl.hastaxinfo || ctrl.loading==true">
        <div class="form-inline" ng-show="ctrl.taxstatus != 'verified' && ctrl.taxstatus != 'unavailable'">
            <div class="col-sm-4">
                Please wait, while your vatnumber is being validated, once status is verified, you can continue to
                signup
                for a plan. <a href ng-click="ctrl.loadData()">Refresh</a>
            </div>
        </div>
    </div>
    <div ng-show="ctrl.supportplan!=null && ctrl.loading==false" class="alert alert-primary">
        You are currently subscribed to the {{ ctrl.supportplan.metadata.webname }} at
        {{(ctrl.supportplan.amount / 100)*ctrl.model.tax}}
        DKK/month<br>
        Click <a href ng-click="ctrl.CancelPlan(ctrl.supportplan.id)">here to cancel</a> this subscription.
        <div ng-show="menuctrl.hasrole('admins')"><br>
            <a href ng-click="ctrl.AddHours()">Add hours</a>
        </div>

        <!--  -->
    </div>
    <div ng-show="ctrl.openflowplan!=null && ctrl.loading==false" class="alert alert-primary">
        You are currently subscribed to the {{ ctrl.openflowplan.metadata.webname }} for 1 users at
        {{(ctrl.openflowplan.amount / 100)*ctrl.model.tax}}
        DKK/month <br>
        Please contact us if you wish to have more users or click <a href
            ng-click="ctrl.CancelPlan(ctrl.openflowplan.id)">here to cancel</a> this subscription
    </div>
    <div ng-show="(ctrl.nextbill!=null) && ctrl.loading==false" class="alert alert-primary">
        <div class="row">Next Invoce ( {{ ctrl.nextbill.dtperiod_start.toDateString() }} to
            {{ ctrl.nextbill.dtperiod_end.toDateString() }} ) </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6"><b>description</b></div>
            <div class="col-sm-2"><b>price</b></div>
        </div>
        <div class="row" ng-repeat="line in ctrl.nextbill.lines.data">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">{{ line.description }}</div>
            <div class="col-sm-2">{{ line.amount / 100 }}</div>
        </div>
        <div class="row" ng-show="ctrl.nextbill.discount != null && ctrl.nextbill.discount.coupon != null">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><b>discount</b></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">{{ ctrl.nextbill.discount.coupon.percent_off }}%</div>
        </div>
        <div class="row" ng-show="ctrl.nextbill.tax > 0">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><b>subtotal</b></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">{{ ctrl.nextbill.subtotal / 100 }}</div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><b>tax</b></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">{{ ctrl.nextbill.tax / 100 }}</div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><b>total</b></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">{{ ctrl.nextbill.total / 100 }}</div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">Applied balance</div>
            <div class="col-sm-2">{{ ctrl.nextbill.starting_balance / 100 }}</div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6"><b>Amount due</b></div>
            <div class="col-sm-2">{{ (ctrl.nextbill.starting_balance + ctrl.nextbill.total) / 100 }}</div>
        </div>

    </div>
    <div ng-show="ctrl.cardmessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.cardmessage}}</div>
    <div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
    <pre ng-show="ctrl.messages!=''" class=" alert alert-primary" role="alert">{{ ctrl.messages }}</pre>
    <div ng-show="menuctrl.hasrole('admins')">
        <h3 ng-show="ctrl.openflowplans.length > 0">OpenFlow User w/NodeRed with a SLA</h3>
        <div class="row" ng-hide="ctrl.loading==true">
            <div ng-repeat="model in ctrl.openflowplans">
                <div class="card" style="width: 17rem;height: 332px;">
                    <div class="card-body">
                        <h5 class="card-title">{{model.metadata.webname}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{model.metadata.subtitle}}</h6>
                        <p class="card-text">{{model.metadata.text}}</p>

                        <a href ng-show="ctrl.allowopenflowsignup" ng-click="ctrl.CheckOut(model.id)"
                            class="card-link">Buy
                            now</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{(model.amount / 100)*ctrl.model.tax}} DKK/month {{ctrl.hastaxtext}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 ng-show="ctrl.supportplans.length > 0">OpenFlow Licenses</h3>
    <div class="row" ng-hide="ctrl.loading==true">
        <div ng-repeat="model in ctrl.supportplans">
            <div class="card" style="width: 17rem;height: 435px; vertical-align: top;">
                <div class="card-body">
                    <h5 class="card-title">{{model.metadata.webname}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{(model.subplan.amount / 100)*ctrl.model.tax}} DKK/hour
                        {{ctrl.hastaxtext}}
                    </h6>
                    <p class="card-text">{{model.metadata.text}}</p>

                    <a ng-show="ctrl.allowsupportsignup" href ng-click="ctrl.CheckOut(model.id, model.subplan.id)"
                        class="card-link">Buy now</a>
                </div>
                <div class="card-footer text-muted">
                    {{(model.amount / 100)*ctrl.model.tax}} DKK/month {{ctrl.hastaxtext}}
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <small><i style="color: gray;">
            All plans include a fair usage of database space/queries, and network trafic.
            All plans are covered by our <a href="https://www.openrpa.dk/terms" target="_blank">terms</a>.
        </i></small>
    <br />
    <br />
</form>