<script type="text/x-red" data-template-name="rpa detector">
    <div class="form-row">
        <label ><i class="fa fa-tag"></i> Detector</label>
        <select id="node-input-queue-select">
            <option>Loading...</option>
        </select>
        <input id="node-input-queue" type="hidden">
    </div>
    <div class="form-row">
        <label ><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Node name">
    </div>
</script>
<script type="text/x-red" data-help-name="rpa detector">
Active everytime a trigger gets triggered on a robot.
</script>
<script type="text/javascript">
    RED.nodes.registerType('rpa detector', {
        category: 'rpa',
        color: "#E7E7AE",
        paletteLabel: 'detector',
        icon: "font-awesome/fa-signal",
        defaults: {
            queue: { value: "", required: true },
            name: { value: "" }
        },
        inputs: 0,
        outputs: 1,
        label: function () {
            return this.name || "rpa detector";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
        oneditprepare: function () {
            $.getJSON('rpa_detectors', function (data) {
                $('#node-input-targetid-select').empty();
                $.each(data, function (i, ele) {
                    $('#node-input-queue-select').append($('<option>', {
                        value: ele._id,
                        text: ele.name
                    }));
                });
                $('#node-input-queue-select').val($('#node-input-queue').val());
            }).error(function (jqXHR, textStatus, errorThrown) {
                console.error("error " + textStatus);
                console.error("incoming Text " + jqXHR.responseText);
                alert("error:" + jqXHR.responseText);
            });
        },
        oneditsave: function () {
            $('#node-input-queue').val($('#node-input-queue-select').val());
        }
    });
</script>




<script type="text/x-red" data-template-name="rpa workflow">
    <div class="form-row">
        <label ><i class="fa fa-tag"></i> Robot</label>
        <select id="node-input-queue-select">
            <option>Loading...</option>
        </select>
        <input id="node-input-queue" type="hidden">
    </div>
    <div class="form-row">
        <label ><i class="fa fa-tag"></i> Workflow</label>
        <select id="node-input-workflow-select">
            <option>Loading...</option>
        </select>
        <input id="node-input-workflow" type="hidden">
    </div>
    <div class="form-row">
        <label><i class="fa fa-tag"></i> Kill if running</label>
        <input type="checkbox" id="node-input-killexisting" style="width: auto;">
    </div>
    <div class="form-row">
        <label><i class="fa fa-tag"></i> Kill all running</label>
        <input type="checkbox" id="node-input-killallexisting" style="width: auto;">
    </div>
    <div class="form-row">
        <label ><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Node name">
    </div>
</script>
<script type="text/x-red" data-help-name="rpa workflow">
Send payload as data to a robot, requesting it to run the selected Workflow.<br>
You can set Workflow using msg.workflowid<br>
You can set Target using msg.targetid<br>
You can set the timeout using msg.expiration<br>
Expiration controls how long to wait for a robot to pickup the message, it does not effect how long the robot can run for.<br>
Kill if running / msg.killexisting will tell a robot to kill the workflow if it is allready running.<br>
killallexisting / msg.killallexisting will tell a robot to kill all running workflows before running workflow.<br>
</script>
<script type="text/javascript">
    RED.nodes.registerType('rpa workflow', {
        category: 'rpa',
        color: "#3FADB5",
        paletteLabel: 'robot',
        icon: "open_rpa_white.png",
        defaults: {
            queue: { value: "" },
            workflow: { value: "" },
            killexisting: { value: false },
            killallexisting: { value: false },
            name: { value: "" }
        },
        inputs: 1,
        outputs: 3,
        outputLabels: ["completed", "status", "failed"],
        label: function () {
            return this.name || "rpa workflow";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
        oneditprepare: function () {
            $.getJSON('rpa_robots_roles', function (data) {
                $('#node-input-queue-select').empty();
                $('#node-input-queue-select').append($('<option>', {
                    value: null,
                    text: "none"
                }));
                $.each(data, function (i, ele) {
                    $('#node-input-queue-select').append($('<option>', {
                        value: ele._id,
                        text: ele.name
                    }));
                });
                $('#node-input-queue-select').val($('#node-input-queue').val());
                reloadWorkflows(true);
                $("#node-input-queue-select").change(function () {
                    reloadWorkflows(false);
                })
            }).error(function (jqXHR, textStatus, errorThrown) {
                console.error("error " + textStatus);
                console.error("incoming Text " + jqXHR.responseText);
                alert("error:" + jqXHR.responseText);
            });
            const reloadWorkflows = function (firstrun) {
                $('#node-input-workflow-select').append($('<option>', {
                    value: null,
                    text: "Loading..."
                }));
                $.getJSON('rpa_workflows', { queue: $('#node-input-queue-select').val() }, function (data) {
                    $('#node-input-workflow-select').empty();
                    $.each(data, function (i, ele) {
                        if (ele.projectandname != null && ele.projectandname != undefined && ele.projectandname != "") {
                            $('#node-input-workflow-select').append($('<option>', {
                                value: ele._id,
                                text: ele.projectandname
                            }));
                        } else {
                            $('#node-input-workflow-select').append($('<option>', {
                                value: ele._id,
                                text: ele.name
                            }));
                        }
                    });
                    if (firstrun) {
                        $('#node-input-workflow-select').val($('#node-input-workflow').val());
                    }
                }).error(function (jqXHR, textStatus, errorThrown) {
                    console.error("error " + textStatus);
                    console.error("incoming Text " + jqXHR.responseText);
                    alert("error:" + jqXHR.responseText);
                });
            }
        },
        oneditsave: function () {
            $('#node-input-queue').val($('#node-input-queue-select').val());
            $('#node-input-workflow').val($('#node-input-workflow-select').val());
        }

    });
</script>


<script type="text/x-red" data-template-name="rpa killworkflows">
    <div class="form-row">
        <label ><i class="fa fa-tag"></i> Robot</label>
        <select id="node-input-queue-select">
            <option>Loading...</option>
        </select>
        <input id="node-input-queue" type="hidden">
    </div>
    <div class="form-row">
        <label ><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Node name">
    </div>
</script>
<script type="text/x-red" data-help-name="rpa killworkflows">
Active everytime a trigger gets triggered on a robot.
</script>
<script type="text/javascript">
    RED.nodes.registerType('rpa killworkflows', {
        category: 'rpa',
        color: "#E9967A",
        paletteLabel: 'killworkflows',
        icon: "font-awesome/fa-times-circle",
        defaults: {
            queue: { value: "", required: true },
            name: { value: "" }
        },
        inputs: 1,
        outputs: 2,
        label: function () {
            return this.name || "rpa killworkflows";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
        oneditprepare: function () {

            $.getJSON('rpa_robots', function (data) {
                $('#node-input-queue-select').empty();
                $('#node-input-queue-select').append($('<option>', {
                    value: null,
                    text: "none"
                }));
                $.each(data, function (i, ele) {
                    $('#node-input-queue-select').append($('<option>', {
                        value: ele._id,
                        text: ele.name
                    }));
                });
                $('#node-input-queue-select').val($('#node-input-queue').val());
                reloadWorkflows(true);
                $("#node-input-queue-select").change(function () {
                    reloadWorkflows(false);
                })
            }).error(function (jqXHR, textStatus, errorThrown) {
                console.error("error " + textStatus);
                console.error("incoming Text " + jqXHR.responseText);
                alert("error:" + jqXHR.responseText);
            });
        },
        oneditsave: function () {
            $('#node-input-queue').val($('#node-input-queue-select').val());
        }
    });
</script>